extends layout

block content
  .contenedorAjustes
    header
      .atras
        p
          a(href="/Perfil") Atras
      h2= pagina
    .contenido
      ul
        for item in ["Cancion1","Cancion2","Cancion3","Cancion4","Cancion5","Cancion6"]
          li
            a(href="#")= item




