nav
    ul
        - var icons = ['home', 'user', 'music',"comment"]
        for item,i in ['Inicio', 'Perfil', 'Generos',"Chats"]
            li
                if pagina === item
                    a(href='/'+item class="active")
                        span(class="fa fa-"+icons[i])
                else
                    a(href="/"+item class="")
                        span(class="fa fa-"+icons[i])
block content