extends layout

block content
  form(action="registro" method="post")

    input(type="text" name="user")
    br
    input(type="password" name="password") 
    br
    input(type="submit" value="Enviar" name="enviar")





  